/*
 	作者：企云
 	时间：2016-8-24
 	描述:系统首页
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html {
	*overflow: visible;
	background-color: #f7f7fc;
}

html,
body {
	height: 100%;
}

body {
	color: #797979;
	position: relative;
	min-width: 1200px;
	overflow-x: hidden;
	font-size: 12px;
	font-style: normal;
	line-height: 1.66;
	text-align: left;
	font-family: "\5FAE\8F6F\96C5\9ED1", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}

fieldset,
img {
	border: 0;
}

input,
img {
	vertical-align: middle;
}

ol,
ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font-size: 100%;
	border: none;
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

td,
th {
	padding: 0;
}

caption,
th {
	text-align: left;
}

fieldset,
img {
	border: 0;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

del {
	text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}

ol,
ul {
	list-style: none;
}

iframe {
	display: block;
}

caption,
th {
	text-align: left;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

ins,
a {
	text-decoration: none;
	outline: none;
}

:focus {
	outline: 0;
	text-decoration: none;
}

i,
em {
	font-style: normal;
}

textarea {
	resize: none;
	outline-style: none;
	overflow: auto;
}

blockquote,
q {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	background: #fff;
}

a {
	color: #666;
	text-decoration: none;
	cursor: pointer;
}

a:link,
a:visited,
a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
}

/*弹出层*/
.modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    filter: alpha(opacity=30);
    opacity: .3;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin: -225px 0 0 -225px;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}


.icon {
	background: url(../images/default/icon.png) no-repeat;
}

.QY_header {
	position: relative;
	z-index: 3;
	height: 51px;
	color: #fff;
	background-color: #ee8572;
	min-width: 1024px;
}

.QY_hleft {
	padding-left: 180px;
	padding-top: 14px;
}

.QY_header .tit {
	padding: 0 70px 0 41px;
}

.area_notice a {
	color: #fff;
}

.icon_g {
	display: inline-block;
	width: 14px;
	height: 15px;
	vertical-align: -3px;
	padding-left: 10px;
	background-position: -12px 0px;
}

.icon.icon_s {
	display: inline-block;
	width: 2px;
	height: 19px;
	margin: 0 10px;
	vertical-align: -6px;
	background-position: 0 0;
}


/************************菜单************************/

.QY_ficon {
	background: url(../images/sprite/sidebar.png) no-repeat;
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: -16px;
	margin-right: 10px;
}

.QY_ficon.tip {
	background-position: -30px -49px;
	float: right;
	margin-top: 16px;
	margin-right: 0px;
}

.QY_Sliderbar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 180px;
	height: 100%;
	border-right: 2px solid #ebf0f7;
	background-color: #f4f8ff;
	box-shadow: 0 0 6px 2px rgba(238, 247, 242, .5);
	box-sizing: border-box;
}

.sidebar_list>li {
	position: relative;
	border-bottom: 1px solid #e3e9f0;
}

.sidebar_list>li.action {
	background: #fff;
}

.sidebar_list>li.action ul {
	display: block;
}

.sidebar_list>li.action>a {
	background: #fff;
	color: #ed8874;
}

.action a>.QY_ficon:first-child {
	background-position: 0 -32px;
}

.action .QY_ficon.tip {
	background-position: -2px -49px;
}

.sidebar_list>li>a {
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	color: #666;
	font-size: 14px;
	padding: 0px 5px 0px 30px;
	background-color: #f4f8ff;
}

.sidebar_list>li>a em {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 3px;
	height: 50px;
	background: #ef9181;
}

.sidebar_list>li>a:hover em,
.sidebar_list>li.action em {
	display: block;
}

.sidebar_list>li>ul {
	background-color: #fff;
	display: none;
	padding-bottom: 10px;
	box-shadow: inset 0 0 6px 1px rgba(247, 245, 245, .2);
}

.sidebar_list>li>ul li {
	padding-left: 55px;
	margin-bottom: 10px;
}

.sidebar_list>li>ul li:last-child {
	margin: 0px;
}

.sidebar_list>li>ul li a {
	display: block;
	color: #666;
	height: 22px;
	line-height: 22px;
	padding-left: 22px;
}

.sidebar_list>li>ul li a:hover {
	color: #fff;
	background: url(../images/sprite/sider-hove.png) no-repeat;
}


/************************内容区域************************/

.QY_Combox {
	margin-left: 180px;
	min-width: 980px;
	background: #fff;
	padding: 20px;
	overflow: hidden;
	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out;
}

.wrapper {
	background-color: #fff;
}

.QY_row {
	overflow: hidden;
	margin-bottom: 20PX;
}

.col-sm-8 {
	overflow: hidden;
}

.sm8_newlist a {
	display: block;
	height: 14px;
	line-height: 14px;
	padding: 10px 20px 10px 10px;
	background: #fff;
}

.sm8_newlist a:last-child {
	height: 16px;
	line-height: 16px;
}

.sm8_newlist a:first-child {
	height: 15px;
	line-height: 15px;
}

.sm8_newlist a:nth-child(even) {
	background: #f7f9fd;
}

.sm8_newlist em {
	float: right;
}

.sm8_newlist span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 80px;
	margin-top: 1px;
}

.sm8_newlist i {
	display: inline-block;
	background: #ff6c60;
	padding: 2px 5px;
	color: #fff;
	border-radius: 8px;
	margin-right: 8px;
	float: left;
}

.col-sm-4 {
	width: 33.33333333%;
	min-width: 400px;
	float: left;
	margin-right: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.QY_rowtit {
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	background: #dfe5f2;
}

.sm4_list,
.sm8_newlist {
	overflow: hidden;
	background: #f7f9fd;
	border: 1px solid #e8e8e8;
	border-top: none;
}

.QY_rowtit a {
	display: inline-block;
	width: 12px;
	height: 9px;
	float: right;
	margin-top: 14px;
	background: url(../images/default/row_tit.png) no-repeat scroll;
}

.sm4_list>a {
	float: left;
	width: 25%;
	display: block;
	margin: 23px 0px;
	text-align: center;
}

.sm4_list>a span {
	width: 65px;
	height: 65px;
	background: url(../images/default/row_list.png) no-repeat;
	display: block;
	margin: 0 auto;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	position: relative;
}

.sm4_list>a span i {
	display: block;
	width: 14px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	padding: 2px;
	background: red;
	border: 2px solid #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #fff;
	border-radius: 50%;
	background: #ff6c60;
}

.sm4_list>a:hover span {
	opacity: .8;
}

.sm4_list>a.rs span {
	background-position: -73px 0;
}

.sm4_list>a.cg span {
	background-position: -143px 0;
}

.sm4_list>a.qt span {
	background-position: -215px 0;
}

.sm4_list>a.rs i,
.sm8_newlist .rs i {
	background: #a0d269;
}

.sm4_list>a.cg i,
.sm8_newlist .cg i {
	background: #f8d347;
}

.sm4_list>a.qt i,
.sm8_newlist .xm i {
	background: #57c8f2;
}

.sm4_list>a em {
	display: block;
	height: 13px;
	line-height: 13px;
	margin-top: 15px;
}

.QY_bana {
	margin: 20px 0 15px 0;
}


/**********自定义菜单**********/

.sb_list li i {
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 14px;
	height: 14px;
	background: url(../images/default/remove.png) no-repeat;
	cursor: pointer;
	transition: all .3s;
}

.sb_list li:hover i {
	display: block;
}

.sb_list li i:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.QY_subbox {
	overflow: hidden;
	padding-top: 20px;
}

.sb_tip {
	position: relative;
	border-top: 1px solid #e8e8e8;
}

.sb_tip h5 {
	width: 90px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 0 auto;
	margin-top: -10px;
	font-size: 14px;
	font-weight: normal;
	color: #6666;
	background: #fff;
}

.sb_list li {
	width: 156px;
	height: 67px;
	text-align: center;
	line-height: 67px;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	float: left;
	position: relative;
	background: #0000FF;
	margin-right: 10px;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	background: url(../images/default/subboxBg.png) #fff no-repeat scroll;
}

.sb_list li:hover {
	box-shadow: 0 5px 15px rgba(45, 50, 55, .2);
	margin-top: -1px;
}

.sb_list li.i1 {
	background-position: -167px 0;
}

.sb_list li.i2 {
	background-position: -332px 0;
}

.sb_list li.i3 {
	background-position: -501px 0;
}

.sb_list li.i4 {
	background-position: -662px 0;
}

.sb_list li.i5 {
	background-position: -832px 0;
}

.sb_list {
	margin-top: 30px;
	min-width: 1000px;
}


/*添加人员，添加菜单*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}
.clearfix {
	zoom: 1
}

.layui-layer{
	background-color: #f1f1f7!important;
}

.pop-search {
	padding: 0px 0px 0px 30px;
	position: relative;
	z-index: 1;
	display: inline-block;
	line-height: 28px;
	text-align: left;
	vertical-align: top;
	color: #3B3B3B;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e3e6eb;
	border-radius: 3px;
}
.pop-search .icon {
	position: absolute;
	top: 0px;
	display: block;
	cursor: pointer;
	right: auto;
	left: 1px;
	background:#fff url(../images/sprite/icon-modal.png) 2px 3px;
	width: 26px;
	height: 26px;
}
.pop-search input {
	float:left;
	padding: 0px;
	width: 174px;
	line-height: 28px;
	height: 28px;
	vertical-align: top;
	color: #767676;
}
.pop-search .search{
    display:inline-block;
	height:28px;
	padding:0px 13px;
    color:#fff;
    background:#a0d269;
}

.modal-left{
    float:left;
	width:260px;
}
.assort-cont{
	height: 334px;
    overflow-x: hidden;
    background: #fff;
    border: 1px solid #e9ecf1;
}
.modal-assort{
    margin-top:10px;
	background:#fff;
	border:1px solid #e9ecf1;
}
.modal-assort h3{
    height:38px;
	background:#fbfbfb;
}
.modal-assort h3 span{
    float:left;
    display:inline-block;
	width:86px;
	height:38px;
	line-height:38px;
	font-size:14px;
	text-align:center;
	color:#4fa7f9;
}
.modal-assort h3 i{
    display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	vertical-align: middle;
	background:url(../images/sprite/icon-modal.png) no-repeat;
}
.modal-assort .section i{
    background-position:-3px -26px;
}
.modal-assort .post i{
    background-position:-3px -49px;
}
.modal-assort .item i{
    background-position:-3px -73px;
}
.modal-assort .person i{
    background-position:-28px -48px;
}
.modal-assort .role i{
    background-position:-54px -48px;
}
.assort-box{
    height:295px;
	overflow-x:hidden;
    background:#fff;
}
.modal-mid{
	float:left;
	width:60px;
}
.modal-mid .rightward{
    display:inline-block;
	width:20px;
	height:36px;
	margin:165px 0px 0px 20px;
   background:url(../images/sprite/icon-modal.png) no-repeat;
	background-position:-36px -1px;
}
.modal-mid .toward-left{
    display:inline-block;
	width:36px;
	height:20px;
	margin:165px 0px 0px 12px;
   background:#fff url(../images/sprite/icon-modal.png) no-repeat;
	background-position:-59px -6px;
}
.modal-mid .toward-left:hover{
	background-color:#4fa7f9;
	background-position:-85px -46px;
}
.modal-mid .toward-right{
	display:inline-block;
	width:36px;
	height:20px;
	margin:15px 0px 0px 12px;
  background:#fff url(../images/sprite/icon-modal.png) no-repeat;
	background-position:-85px -6px;
}
.modal-mid .toward-right:hover{
	background-color:#4fa7f9;
	background-position:-60px -46px;
}
.modal-right{
	float:left;
	width:260px;
}
.modal-right h3{
	padding:0px 15px;
    height:40px;
	line-height:40px;
	font-size:14px;
	color:#fff;
	background:#4c96ef;
}
.modal-right h3 em{
    float:right;
	cursor:pointer;
}
.modal-right h4{
    padding:0px 15px;
    height:40px;
	line-height:40px;
	font-size:14px;
	color:#666;
}
.modal-right ul{
    height:334px;
	overflow-x:hidden;
	background:#fff;
    border:1px solid #e9ecf1;
}
.modal-right ul li{
    height:40px;
	line-height:40px;
	overflow:hidden;
    text-align:center;
	background:#fbfbfb;
	border-bottom:1px solid #e9ecf1;
}
.assort-position{
	position:absolute;
	top:-10px;
	left:95px;
	background:#f1f1f7;
	border:none;
}
.assort-position h3{
	background:#f1f1f7;
}



